## PYTHON OPERATORS:-

  1.Logical
  2.Equality
  3.Comparision
  4.Arithmetic

* Logical Operators:-
In python following keywords are used for boolean operations:-
    
    and:- Conditional AND
    or :- Conditional  OR
    not:- Unary negation

In [2]:
#Boolean Variable:-

type(True)

bool

In [4]:
type(False)

bool

In [5]:
bool(1)

True

In [6]:
a=True
b=False

In [7]:
True and False

False

In [8]:
True or False

True

In [9]:
not True

False

In [10]:
not False

True

In [11]:
age=int(input("Enter the age:-"))
if age>18 and age<=35:
    print("Mid age")

Enter the age:-21
Mid age

In [13]:
age=int(input("Enter the age:-"))
if age<18 or age>=35:
    print("Successful execution")

Enter the age:-16
Successful execution

# Equality Operators:-

(1)is:-a is b returns true if variable / identifiers a and b points to the same object.
(2)is not:- a is not b returns true if variable/ identifiers a and b to the different object.
(3)== :- a==b returns true if variable/ identifiers a and b has same value.
 (4)!= :- a!=b returns true if variable / identifiers a and b has different value.

In [21]:
# Double Equal(==) codition:-

a="silan"
b="silan"

a==b

True

In [7]:
# is Operator codition:-
#[is operator points to the objects that they are same or not , if same then it'll give true , otherwise False]

a="silan"
b="silan"

print(a is b)
print(a is not b)

True
False

In [22]:
a="silan"
b="silan1"

a==b

False

In [4]:
a="silan"
b="silan1"

a is not b

True

In [23]:
age=int(input("Enter the age:-"))
if age==18:
    print("You are in the teenager age")

Enter the age:-18
You are in the teenager age

In [25]:
# Is Condition:-

a="silan"
b= "silan"
print(id(a)) # Id represent That object has created in which memory.
print(id(b))

1373430416944
1373430416944

In [26]:
a is b

True

In [29]:
# when we r making some collection type items(list) in that case the ID'll be different, bcoz the objects create in differently even though their values are same:-
lst=[1,2,3]
lst1=[1,2,3]
print(id(lst))
print(id(lst1))

1373429499776
1373429514624

In [33]:
lst==lst1
#Here the (==)operator comparing both of list's so it'll give true.

True

In [34]:
lst is lst1
# In this case (is)operator pointing to the objects that, they are in the same or not.
# If no then it'll give false

False

In [36]:
# Is not operator:-(Opposite of the is operator)
lst is not lst

False

In [39]:
# Not Equal(!=):-
"silan" !="silan1"

True

# Comparison operator:-

 <, <=, >, >=

In [41]:
marks=float(input("Enter teh marks:-"))
if marks>=50 and marks<=70:
    print("first")
elif marks>=35:
    print("Pass")
elif marks<35:
    print("Fail")

Enter teh marks:-60
first

# Arithmetic operator:-

    + , - , * , / , // , %

In [42]:
24+24

48

In [43]:
48-24

24

In [44]:
48*24

1152

In [45]:
48/4

12.0

In [46]:
48//2

24

In [48]:
48//5 # It(//) gives roundof value of the result

9

In [50]:
48%2 # The % operator shows the remainder

0